<!DOCTYPE html> 
<html lang="en"> 
<head>
	<%= csrf_meta_tag %>
	<%= javascript_include_tag, 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js', 'rails' %>
</head>
<body>
</body>
</html>
